<div class="nav">
  <a href="feed.html" class="brand">
    <div class="brandLogo">
      <img src="logo.png" alt="OnlyPaws logo">
    </div>
    <span>OnlyPaws</span>
  </a>

  <div class="navRight">
    <div class="pill" id="userPill">…</div>

    <a class="navBtn primary" id="navProfile" href="profile.html" style="display:none;">Profile</a>
    <a class="navBtn" id="navFanDash" href="fan-dash.html" style="display:none;">Dashboard</a>
    <a class="navBtn" id="navCreatorDash" href="creator-dash.html" style="display:none;">Dashboard</a>
    <button class="navBtn" id="navLogout" type="button" style="display:none;">Log out</button>
  </div>
</div>