<div class="nav marketingNav">
  <a href="index.html" class="brand">
    <div class="brandLogo">
      <img src="assets/logo.png" alt="OnlyPaws logo">
    </div>
    <span class="brandText">OnlyPaws</span>
  </a>

  <div class="navRight marketingLinks">
    <a class="marketingTextLink" href="index.html" data-page="index">Home</a>
    <a class="marketingTextLink" href="creators.html" data-page="creators">Creators</a>
    <a class="marketingTextLink" href="fans.html" data-page="fans">Fans</a>

    <a class="btn navLink" id="navProfile" href="profile.html" style="display:none;">Profile</a>
    <a class="btn navLink" id="navFanDash" href="fan-dash.html" style="display:none;">Dashboard</a>
    <a class="btn navLink" id="navCreatorDash" href="creator-dash.html" style="display:none;">Dashboard</a>
    <button class="btn navLink" id="navLogout" type="button" style="display:none;">Log out</button>
  </div>
</div>